@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://db.onlinewebfonts.com/c/1dd1c7d8df011c2266f33ebd5927c0ab?family=DIN+2014+Demi');

@font-face {
  font-family: "DIN 2014 Demi";
  src: url("https://db.onlinewebfonts.com/t/1dd1c7d8df011c2266f33ebd5927c0ab.eot");
  src: url("https://db.onlinewebfonts.com/t/1dd1c7d8df011c2266f33ebd5927c0ab.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1dd1c7d8df011c2266f33ebd5927c0ab.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1dd1c7d8df011c2266f33ebd5927c0ab.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/1dd1c7d8df011c2266f33ebd5927c0ab.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/1dd1c7d8df011c2266f33ebd5927c0ab.svg#DIN 2014 Demi")format("svg");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--tetriary-bg-color);
  /* overflow: hidden; */
  padding-top: 64px;
}

.menu-visible {
  overflow: hidden;
  /* height: 150vh; */
}

:root {
  --primary-color: #000000;
  --secondary-color: #CD192D;
  --tetriary-color: #505050;

  --primary-hover-color: #505050;
  --secondary-hover-color: #A11D2C;
  --tetriary-hover-color: #2A2A2A;
  --white-btn-hover-color: #A7A9AC;

  --primary-bg-color: #000000;
  --secondary-bg-color: #2A2A2A;
  --tetriary-bg-color: #f4f4f4;
  --light-tetriary-bg-color: #f9f9f9;
  --white-bg-color: #ffffff;
}

.gray-cl {
  background-color: #2A2A2A;
}

.bg {
  background-color: var(--primary-bg-color);
}

.gray-bg {
  background-color: var(--secondary-bg-color);
}

.light-gray-bg {
  background-color: var(--white-btn-hover-color);
}

.slight-white-bg {
  background-color: var(--tetriary-bg-color);
}

.lighter-white-bg {
  background-color: var(--light-tetriary-bg-color);
}

.white-bg {
  background-color: var(--white-bg-color);

}


.text-red {
  color: var(--secondary-color);
}

.text-light-color {
  color: var(--white-btn-hover-color)
}

.red-bg-color {
  background-color: var(--secondary-color);
}

.red-bg-hover-color:hover {
  background-color: var(--secondary-hover-color);
}

.outline-gray-1px {
  outline: 1px #DFDFDF solid;
}

.main-btn-black-hover {
  transition: all 0.2s ease-in-out;
}

.main-btn-black-hover:hover {
  background-color: var(--primary-hover-color);
}

.border {
  border: 2px solid red;
}

.border-thin{
  border: 1px solid #d3d4d7
}

.border-thin-left{
  border-left: 1px solid #d3d4d7

}

.border-thin-gray {
  border-top: 1px solid #d3d4d7
}

.border-thin-gray-bottom {
  border-bottom: 1px solid #d3d4d7
}


.overlay-darken {
  background-color: rgba(0, 0, 0, 0.25);
}

.overlay-carousell-btn {
  background-color: rgba(0, 0, 0, 0.018)

}

.red-border-bottom {
  border-bottom:4px solid var(--secondary-color);
}

/* GRADIENT CAROUSELL BTNS */
.gradient-caro-btn-right-to-left:hover {
  background: rgb(227,227,227);
  background: linear-gradient(90deg, rgba(22, 22, 22, 0) 0%, rgba(27, 27, 27, 0.178) 28%, rgba(15, 15, 15, 0.664) 56%, rgba(0, 0, 0, 0.781) 84%);
}

.gradient-caro-btn-left-to-right:hover {
  background: rgb(227,227,227);
background: linear-gradient(270deg, rgba(12, 12, 12, 0.021) 0%, rgba(31, 31, 31, 0.267) 28%, rgba(15, 15, 15, 0.616) 56%, rgba(0,0,0,0.7567401960784313) 84%);
}

/* HOVER EFFECT LINKS UNDERLINE */

.main-btn-hover {
  transition: all 0.2s ease-in-out;
}

.main-btn-hover:hover {
  background-color: var(--secondary-hover-color);
}

.gray-btn {
  background-color: var(--tetriary-hover-color);
}

.gray-btn-hover:hover {
  background-color: var(--tetriary-hover-color);

}

.underline-hover-effect {
  display: inline-block;
  position: relative;
}

.underline-hover-effect::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-color);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.underline-hover-effect:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* IMAGE ZOOM TRANSFORM */
.overlay {
  background-color: rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  transform: scale(1.025);
}

.zoom-link-image img,
h2,
p {
  transition: all 0.3s ease-in-out;
}

.zoom-link-image:hover img {
  overflow: hidden;
  transform: scale(1.03);

}

/*LATEST MODELS CAROUSELL INDICATORS POSITIONING */

.carousell-indicators {
  position: absolute;
  top: 31%;
  right: 19%;
}

/* BOTTOM SLIDER CLASSIC */

.swiper-button-prev {
  background-color: var(--secondary-color);
  width: 30%;
  height: 30%;
  line-height: 30%;
  border-radius: 100%;
  padding: 1.5rem;
  background-image: url('/left-arrow.png');
  background-position: center;

  background-repeat: no-repeat;
}

.swiper-button-next {
  background-color: var(--secondary-color);
  width: 30%;
  height: 30%;
  line-height: 30%;
  border-radius: 100%;
  padding: 1.5rem;
  background-image: url('/right-arrow.png');
  background-repeat: no-repeat;
  background-position: center;

}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #A11D2C;
  color: #A11D2C !important;

}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: " " !important;
}

.carousell-classics::before {
  background-image: radial-gradient(70% 50%, transparent 0, #2a2a2a 100%);
  content: "";
  height: calc(100% + 4px);
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

/* CUSTOMIZATION PAGE ACTIONS POSITIONING */

.actions {
  bottom: 2.5rem;
  left: 50%

  
}

@media screen and (max-width: 768px) {
  .actions {
    border: 2px solid red;
    
    right: 2%;
    bottom: 55%;
    left: unset;
  }
}

